body {
	background-color: #232323;
}

h1 {
	color: #faebd7;
	text-align: center;
}

h2 {
	color: #fff;
	text-align: center;
}

.card {
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

#container {
	margin: 0 auto;
	max-width: 500px;
}

#strip {
	background: #fff;
	height: 23px;
	text-align: center;
	color: black;
}
